myst_parser==0.18.1
sphinxcontrib-mermaid==0.7.1
sphinx==4.4.0
sphinx_rtd_theme>=0.5.0
readthedocs-sphinx-search==0.1.1
pygments==2.11.2
renku-sphinx-theme==0.2.2
sphinx-pdj-theme==0.2.1
cloud-sptheme==1.10.1